---
---

@import "{{ site.theme }}";

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cover {
  max-width: initial;
  position: initial;
  margin-right: initial;
  right: initial;
  margin-left: initial;
  left: initial;

  /* IE */
  max-width: unset;
  position: unset;
  margin-right: 0;
  right: auto;
  margin-left: 0;
  left: auto;
}
