---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="trip-status">
    <div class="status-item">
      <div class="status-title">
        Time on the road
      </div>
      <div class="status-value">
        <script type="text/javascript">
          var current = new Date();
          var start = new Date(2019, 11, 5);

          document.write(Math.ceil((current - start + 1) / 86400000));
        </script> days
      </div>
    </div>
    <div class="status-item">
      <div class="status-title">
        Last location
      </div>
      <div class="status-value">
        Fuerteventura
      </div>
    </div>
    <div class="status-item">
      <div class="status-title">
        Car status
      </div>
      <div class="status-value">
        Engine warning :warning:
      </div>
    </div>


  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
